<!DOCTYPE html>
<html lang="en">
   
      <%- include ('../partials/_header') %> 

      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
       
      <%- include ('./sections/Banner') %> 
      <!-- end banner -->
      <!-- about -->
      <%- include ('./sections/About') %> 
      <!-- end about -->
      <!-- trainers -->
      <%- include ('./sections/Trainers') %> 
      <!-- end trainers -->
      <!-- gallery -->
      <%- include ('./sections/Gallery') %> 
      <!-- end gallery -->
      <!--  contact -->
      <%- include ('./sections/Contact') %>
      <!-- end contact -->
      <!--  footer -->
      <%- include ('../partials/_footer') %> 
      <!-- end footer -->

   </body>
</html>
